<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EVOROOTZ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Navbar-->
    <header id="topnav">
      <div class="container">
        <!--<div class="logo">-->
          <!--<a href="index.html">-->
          <!--  <img src="images/logo_light.png" alt="" class="logo-light">-->
          <!--  <img src="images/logo_dark.png" alt="" class="logo-dark">-->
        <!--    <img src="images/logo_light.png" alt="" class="logo-light">-->
        <!--    <img src="images/logo_dark.png" alt="" class="logo-dark">-->
        <!--  </a>-->
        <!--</div>-->
        <div class="menu-extras">
          <div class="menu-item">
            <a class="navbar-toggle">
              <div class="lines"><span></span><span></span><span></span>
              </div>
            </a>
          </div>
        </div>
        <div id="navigation" data-onepage="true">
            
            <ul class="dark navigation-menu">
                
                  
                    <li><a href="/#home" data-scroll="true">EVOROOTZ</a>
                    </li>
                    <li><a href="/#vision" data-scroll="true">GREENS</a>
                    </li>
                    <!--<li><a href="/#akon" data-scroll="true">Vision</a>-->
                    </li>
                    <!--<li><a href="/#product" data-scroll="true">Product</a>-->
                    </li>
                    <li><a href="/#workout" data-scroll="true">PROCESS</a>
                    </li>
                    <li><a href="/#contact" data-scroll="true">CONTACT</a>
                    </li>
                
                
            
      
            
            </ul> 
            
            
        </div>
      </div>
    </header>
    
    <!--HEADER ENDS-->
    
    
    