<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Evo Greens</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Navbar-->
    <header id="topnav">
      <div class="container">
        <div class="logo">
          <a href="index.html">
            <img src="images/logo_light.png" alt="" class="logo-light">
            <img src="images/logo_dark.png" alt="" class="logo-dark">
          </a>
        </div>
        <div class="menu-extras">
          <div class="menu-item">
            <a class="navbar-toggle">
              <div class="lines"><span></span><span></span><span></span>
              </div>
            </a>
          </div>
        </div>
        <div id="navigation" data-onepage="true">
            
            <ul class="navigation-menu">
                
                
                
                
                <li class="has-submenu">
              <a href="/">HOME</a>
              <ul class="submenu">
                
             
                
                    <li><a href="/#home" data-scroll="true">Evo Rootz</a>
                    </li>
                    <li><a href="/#purpose" data-scroll="true">Purpose</a>
                    </li>
                    <li><a href="/#discover" data-scroll="true">Discover</a>
                    </li>
                    <li><a href="/#procedure" data-scroll="true">Procedure</a>
                    </li>
                    <li><a href="/#quality" data-scroll="true">Quality</a>
                    </li>
                
                
              </ul>
            </li><!--END HOME TAB-->
            
              <li class="has-submenu">
              <a href="/about">ABOUT</a>
              <ul class="submenu">
                
             
                
                    <li><a href="/about#home" data-scroll="true">Home</a>
                    </li>
                    <li><a href="/about#vision" data-scroll="true">Vision</a>
                    </li>
                    <li><a href="/about#product" data-scroll="true">Product</a>
                    </li>
                    <li><a href="/about#team" data-scroll="true">Team</a>
                    </li>
                    <li><a href="/about#process" data-scroll="true">Process</a>
                    </li>
                    <li><a href="/about#contact" data-scroll="true">Contact  </a>
                    </li>
                
                
              </ul>
            </li><!--END ABOUT TAB-->
            
            
               
              <li class="has-submenu">
              <a href="#">PRODUCTS</a>
              <ul class="submenu">
                
             
                
                    <li><a href="#home" data-scroll="true">Home</a>
                    </li>
                    <li><a href="#about" data-scroll="true">About</a>
                    </li>
                    <li><a href="#menu" data-scroll="true">Menu</a>
                    </li>
                    <li><a href="#facts" data-scroll="true">Facts</a>
                    </li>
                    <li><a href="#reserve" data-scroll="true">Reserve</a>
                    </li>
                
                
              </ul>
            </li><!--END PRODUCTS TAB-->
            
               
              <li class="has-submenu">
              <a href="#">RECIPIES</a>
              <ul class="submenu">
                
             
                
                    <li><a href="#home" data-scroll="true">Home</a>
                    </li>
                    <li><a href="#about" data-scroll="true">About</a>
                    </li>
                    <li><a href="#menu" data-scroll="true">Menu</a>
                    </li>
                    <li><a href="#facts" data-scroll="true">Facts</a>
                    </li>
                    <li><a href="#reserve" data-scroll="true">Reserve</a>
                    </li>
                
                
              </ul>
            </li><!--END RECIPIE TAB-->
            
                 
            
            
              <li>
              <a href="/blogs">Blog</a>
              
            </li><!--END blog TAB-->
            
            
            
            
              <li>
              <a href="/faq">FAQs</a>
              
            </li><!--END FACTS TAB-->
       
            
               
              <li class="has-submenu">
              <a href="#">FOLLLOW</a>
              <ul class="submenu">
                
             
                
                    <li><a href="#home">Subscribe</a>
                    </li>
                    <li><a href="#about">Facebook</a>
                    </li>
                    <li><a href="#menu">Instagram</a>
                    </li>
                    <li><a href="#facts">Twitter</a>
                    </li>
                    <li><a href="#reserve">Whatsapp</a>
                    </li>
                
                
              </ul>
            </li><!--END FOLLOW TAB-->
            
            
               
              <li>
              <a href="/contact">CONTACT</a>
              
            </li><!--END CONTACT TAB-->
            
            </ul> 
            
            
        </div>
      </div>
    </header>
    
    <!--HEADER ENDS-->
    
    
    