
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->



<% include ./partials/header %>
    
    
    
    <!--BODY START-->
<!-- Home Section-->
    <section id="home">
      <!-- Home slider-->
      <div id="home-slider" class="flexslider kenburn">
        <ul class="slides">
          <li>
            <img src="images/bg/bg.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="upper">Evo Rootz<span class="red-dot"></span></h1>
                  <h6>Our indoor farm creates the ideal codition for growing the purest produced imaginable.</h6>
                  
                  
                </div>
              </div>
            </div>
          </li>
          <li>
            <img src="images/bg/bg1.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="upper">Evo Rootz<span class="red-dot"></span></h1>
                  <h6>Our indoor farm creates the ideal codition for growing the purest produced imaginable.</h6>
                  
                  
                </div>
              </div>
            </div>
          </li>
          <li>
            <img src="images/bg/bg3.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="upper">Evo Rootz<span class="red-dot"></span></h1>
                  <h6>Our indoor farm creates the ideal codition for growing the purest produced imaginable.</h6>
                  
                  
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of home slider-->
    </section>
    <!-- end of home section-->
    
    
    
    <section id="vision" class="dark">
      <div class="container">
        <div class="title center">
          <!--<h4 class="upper">Grown without compromise.</h4>-->
          <h2>What are MICROGREENS ?<span class="red-question"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <p class="grey-text serif lead-text">Microgreens are very young, tender plants, used as salads or garnishes on many types of dishes.Despite looking like a delicate plate garnish, microgreens add a bold flavor and dose of vitamins to entrees and side dishes.</p>
              <p class="grey-text serif lead-text">They are highly nutritious and contain health-promoting and disease preventing properties.</p>
              <!--<p class="grey-text serif lead-text"></p>-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    
    <section  id="akon" class="vc_row wpb_row vc_row-fluid parallax vc_parallax-content-moving">
   <div class="row-parallax-bg">
      <div class="parallax-wrapper" style="transform: translate3d(0px, -33.2625px, 0px);">
         <div class="parallax-bg-element" style="background-image: url(http://themes.hody.co/comet/wp-content/uploads/2015/12/7.jpg);"></div>
      </div>
   </div>
   <div class="parallax-overlay">
      <div class="container">
         <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
               <div class="wpb_wrapper">
                  <div class="title center">
                     <h3 class="">Feel good about eating.<span class="red-dot"></span></h3>
                     <hr>
                  </div>
                  <div class="vc_row wpb_row vc_inner vc_row-fluid section-content">
                     <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                        <div class="vc_column-inner ">
                           <div class="wpb_wrapper">
                              <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;directionNav&quot;: true}" class="flexslider nav-outside">
                                 <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-700px, 0px, 0px);">
                                       <li class="clone" aria-hidden="true" style="width: 700px; float: left; display: block;">
                                          <blockquote>
                                             <p>Our microgreens are filled with flavour that helps youget the taste of nature missing in your meals.</p>
                                             <footer>FLAVOUR TO YOUR TASTEBUDS</footer>
                                          </blockquote>
                                       </li>
                                       <li style="width: 700px; float: left; display: block;" class="flex-active-slide">
                                          <blockquote>
                                             <p>Microgreens are rich in micro nutritions that nurtures your immunity and keeps you active.</p>
                                             <footer>NUTRITION TO YOUR BODY</footer>
                                          </blockquote>
                                       </li>
                                       
                                    </ul>
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
    
    
    
    <section class="dark" id="workout">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
              <img src="images/bg/bg11.jpg" alt="" class="bg-img">
              <!--<div class="holder-container">-->
              <!--  <div class="centrize">-->
              <!--    <div class="v-center">-->
              <!--      <div data-src="https://player.vimeo.com/video/66743357?badge=0&amp;title=0&amp;byline=0&amp;title=0&amp;autoplay=1" class="play-button"><i class="ti-control-play"></i>-->
              <!--      </div>-->
              <!--    </div>-->
              <!--  </div>-->
              <!--</div>-->
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-4">
            <div class="title">
              <h4 class="upper">100% Organic Farming</h4>
              <h3 class="upper">Growing without compromise<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content">
              <p>Every crop planted in Evo Rootz in precisely cared for, wihtout any chemicals.</p>
              <p>By controlling the process, We ensure the quality at every step in growing the greens.</p>
              
              </p>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    
        
    <section id="product" class="dark">
     
       <!--end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md col-sm-8 col-sm">
            
            
            <div class="row">
              <div class="col-md-12">
                <!--<h2>ASDF</h2>-->
                <div class="title">
              <!--<h4 class="upper">Are you looking for motivation?</h4>-->
              <h3 class="upper">From seed to you<span class="red-dot"></span></h3>
              <hr>
            </div>
              </div>
              <div class="col-md-12">
                <div class="icon-box-basic"><i class="icon-search"></i>
                  <h4>Zero Mile Greens</h4>
                  <p>Our urban farms exist in cities, Just a short distance away from where you live and shop.</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="icon-box-basic"><i class="icon-tools"></i>
                  <h4>Fresh as it can be</h4>
                  <p>We deliver our produce within hours of harvest as they are grown near you.</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="icon-box-basic"><i class="icon-trophy"></i>
                  <h4>Bubble Washed</h4>
                  <p>After harvesting our Microgreens, These are bubble washed and ozonated in icy cold water. No need to wash before eating.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!--end of row-->
      </div>
      
       <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder">
              <img src="images/bg/bg7.jpg" alt="" class="bg-img">
            </div>
          </div>
           <!--end of side background image-->
        </div>
         <!--end of row-->
      </div>
       <!--end of container-->
    </section>
    
    
      <section  id="akon2" class="vc_row wpb_row vc_row-fluid parallax vc_parallax-content-moving">
   <div class="row-parallax-bg">
      <div class="parallax-wrapper" style="transform: translate3d(0px, -33.2625px, 0px);">
         <div class="parallax-bg-element" style="background-image: url(http://themes.hody.co/comet/wp-content/uploads/2015/12/7.jpg);"></div>
      </div>
   </div>
   <div class="parallax-overlay">
      <div class="container">
         <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
               <div class="wpb_wrapper">
                  <div class="title center">
                     <h3 class="">Vibrant as the Rainbow<span class="red-dot"></span></h3>
                     <hr>
                  </div>
                  <div class="vc_row wpb_row vc_inner vc_row-fluid section-content">
                     <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                        <div class="vc_column-inner ">
                           <div class="wpb_wrapper">
                              <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;directionNav&quot;: true}" class="flexslider nav-outside">
                                 <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-700px, 0px, 0px);">
                                       <li class="clone" aria-hidden="true" style="width: 700px; float: left; display: block;">
                                          <blockquote>
                                             <p>We at Evo Rootz grow 30+ varities of Microgreens which provide us an array of colours and textures.</p>
                                             <footer>Colors</footer>
                                          </blockquote>
                                       </li>
                                       <li style="width: 700px; float: left; display: block;" class="flex-active-slide">
                                          <blockquote>
                                             <p>Children love these colorful Microgreens in their meals.</p>
                                             <footer>KIDS</footer>
                                          </blockquote>
                                       </li>
                                       
                                    </ul>
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

   
    
    <!-- end of container-->
    <section class="dark" id="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
              <img src="images/bg/bg12.jpg" alt="" class="bg-img">
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
            <div class="title">
              <h4 class="upper">We love hearing from you.</h4>
              <h3>Explore the Greens<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content">
              <div class="contact-form">
                <form id="contact-form" method="POST" action="mail.php">
                  <div class="form-group">
                    <input name="fullname" type="text" placeholder="Your Name" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" placeholder="Your Email" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="phone" type="text" placeholder="Phone Number" class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea name="message" placeholder="Message" data-required="true" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-color">Send Message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    
      
        
      
    <% include ./partials/footer %>
    
    <!--<script src="../js/cart-page.js"></script>-->

    
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->
