
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->



<% include ./partials/header %>
    
    
    
    <!--BODY START-->
<!-- Home Section-->
    <section id="home">
      <!-- Home slider-->
      <div id="home-slider" class="flexslider kenburn">
        <ul class="slides">
          <li>
            <img src="images/bg/27.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h6>Architecture Studio Est. 1997</h6>
                  <h1 class="upper">We build cool spaces<span class="red-dot"></span></h1>
                  <p><a href="#" class="btn btn-light-out">See more</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <img src="images/bg/28.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h6>We take care of our clients.</h6>
                  <h1 class="upper">Creative Design Studio<span class="red-dot"></span></h1>
                  <p><a href="#" class="btn btn-light-out">View works</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of home slider-->
    </section>
    <!-- end of home section-->
    
    
    
    <section id="vision" class="dark">
      <div class="container">
        <div class="title center">
          <h4 class="upper">A better way to Live.</h4>
          <h2>Vision<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <p class="grey-text serif lead-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam.</p>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    
    
    
    
    <section id="product" class="dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
              <img src="images/bg/29.jpg" alt="" class="bg-img">
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
            <div class="row">
              <div class="col-md-12">
                <div class="icon-box-basic"><i class="icon-search"></i>
                  <h4>Planning</h4>
                  <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="icon-box-basic"><i class="icon-tools"></i>
                  <h4>Design</h4>
                  <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="icon-box-basic"><i class="icon-trophy"></i>
                  <h4>Build</h4>
                  <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    
    <section class="dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder">
              <img src="images/bg/30.jpg" alt="" class="bg-img">
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-7 txt-md-right">
            <div class="section-content">
              <div class="skill"><span class="skill-name">Design</span><span class="skill-perc">90%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="90" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Safety</span><span class="skill-perc">95%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="80" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Vision</span><span class="skill-perc">85%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="85" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Satisfaction</span><span class="skill-perc">95%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="95" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Strategy</span><span class="skill-perc">75%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="75" class="progress-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of container-->
    </section>
    
    
    
    
    <section id="team">
      <div class="container">
        <div class="title center">
          <h4 class="upper">They're going to make your life healthy.</h4>
          <h2>The Team<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div data-options="{&quot;items&quot;: 3, &quot;autoplay&quot;: true, &quot;margin&quot;: 30}" class="owl-carousel">
            <div class="team-member b-0">
              <div class="team-image">
                <img src="images/team/4.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Arya Stark</h3><span>Founder and CEO</span>
              </div>
            </div>
            <div class="team-member b-0">
              <div class="team-image">
                <img src="images/team/5.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Jesse Pinkman</h3><span>Architect</span>
              </div>
            </div>
            <div class="team-member b-0">
              <div class="team-image">
                <img src="images/team/6.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Elliot Anderson</h3><span>Engineer</span>
              </div>
            </div>
            <div class="team-member b-0">
              <div class="team-image">
                <img src="images/team/7.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Jesse Pinkman</h3><span>Interior Designer</span>
              </div>
            </div>
            <div class="team-member b-0">
              <div class="team-image">
                <img src="images/team/8.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Robin Scherbatsky</h3><span>Sales Manager</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    
    
    
    <section id="process" class="dark">
      <div class="container">
        <div class="title center">
          <h4 class="upper">Only quality works.</h4>
          <h2>The Process<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>01<span class="red-dot"></span></h2>
                <h4>Discover.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>02<span class="red-dot"></span></h2>
                <h4>Design.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>03<span class="red-dot"></span></h2>
                <h4>Building.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>04<span class="red-dot"></span></h2>
                <h4>Delivery.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of section content-->
    </section>
    <!-- end of container-->
    
    
    
    <section id="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
              <img src="images/bg/31.jpg" alt="" class="bg-img">
            </div>
          </div>
           <!--end of side background image-->
        </div>
         <!--end of row-->
      </div>
       <!--end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
            <div class="title">
              <h4 class="upper">Let's work together.</h4>
              <h3>Contact<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content">
              <div class="contact-form">
                <form id="contact-form" method="POST" action="mail.php">
                  <div class="form-group">
                    <input name="fullname" type="text" placeholder="Your Name" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" placeholder="Your Email" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="phone" type="text" placeholder="Phone Number" class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea name="message" placeholder="Message" data-required="true" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-color">Send Message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
         <!--end of row-->
      </div>
       <!--end of container-->
    </section>
    
      
        
      
    <% include ./partials/footer %>
    
    <!--<script src="../js/cart-page.js"></script>-->

    
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->
