
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->



<% include ./partials/header %>
    
    
    



    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="images/bg/16.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper">Do you need help?</h1>
                <h4 class="upper">We have the answers.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-3 visible-md visible-lg">
              <ul class="nav nav-pills nav-stacked mb-25 mt-50">
                <li><span>Navigate</span>
                </li>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">About</a>
                </li>
                <li><a href="#">Products</a>
                </li>
                <li><a href="#">Recipes</a>
                </li>
                <li class="active"><a href="#">FAQs</a>
                </li>
                <li><a href="#">Follow</a>
                </li>
                <li><a href="#">Contact</a>
                </li>
              </ul>
              <!-- end of nav    -->
              
              <!-- end of nav    -->
              
              <!-- end of nav    -->
            </div>
            <div class="col-md-8 col-md-offset-1">
              <div class="title">
                <h2 class="upper">FAQ<span class="red-dot"></span></h2>
                <hr>
              </div>
              
              <ul class="accordion nav">
                <li>
                  <div class="accordion-title">
                    <h4>How to use the template?</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>When can I contact the support?</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Where can I find the purchase code?</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Can I use it without being an expert?</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>What do I need to start?</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
              </ul>
              <!-- end of accordion-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    
    
      
      
        
      
    <% include ./partials/footer %>
    
    <!--<script src="../js/cart-page.js"></script>-->

    
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->
