
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->



<% include ./partials/header %>
    
    
      <!-- Home Section-->
    <section id="home">
      <!-- Home slider-->
      <div id="home-slider" class="flexslider">
        <ul class="slides">
          <li>
            <img src="images/bg/25.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="cursive m-0">Welcome to</h1>
                  <h2 class="upper mt-0">Evo Rootz</h2>
                  <p><a href="#discover" data-scroll="true" class="btn btn-light-out">Know More</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of home slider              -->
    </section>
    <!-- end of home section-->
    
    
    <section id="purpose">
      <div class="container">
        <div class="row">
          <div class="col-md-5 md-pull-right">
            <div class="title txt-sm-center txt-xs-center">
              <h2 class="cursive mb-0">This is</h2>
              <h3 class="upper">Our Purpose<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content p-0 txt-sm-center txt-xs-center">
              <p class="h1 cursive grey-text">At present, there are numerous health problems coming up quotidian, we should be prepared for the same, one should have sufficient stamina to deal with whatever comes through that door. Without a shadow of a doubt, evorootz is here to serve you, we started growing microgreens keeping in mind the requirements of our consumer. Evorootz will provide you all the mandatory nutrients for a sustainable lifestyle and at the same time allow you affix with the nature. We help you to regain the taste in herbs and greens that you were longing for a continuous lifespan. We want to serve the folks throughout so that we can help them remain proper ,wholesome and relish standard lifestyle.</p>
            </div>
            <!-- end of section content-->
          </div>
          <div style="padding-top:6em;"  class="col-md-6">
            <ul class="photo-gallery mt-50">
              <li class="half">
                <div class="gallery-item">
                  <img src="images/gallery/14.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="images/gallery/15.jpg" alt="">
                </div>
              </li><li class="half">
                <div class="gallery-item">
                  <img src="images/gallery/14.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="images/gallery/15.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="images/gallery/16.jpg" alt="">
                </div>
              </li>
              <li class="half">
                <div class="gallery-item">
                  <img src="images/gallery/17.jpg" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    
    
    <section id="discover" class="parallax">
      <div data-parallax="scroll" data-image-src="images/bg/34.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="section-content">
            <div class="title center mb-100">
              <h2 class="cursive mb-0">Discover</h2>
              <h3 class="upper">The Greens<span class="red-dot"></span></h3>
              <hr>
            </div>
          </div>
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section class="grey pt-0 ov-v">
      <div class="container">
        <div class="restaurant-menu">
          <div class="row">
            <div class="col-md-6">
              <div class="rs-menu image-right">
                <div class="rs-menu-media">
                  <img src="images/menu/1.jpg" alt="" class="thumb-placeholder">
                </div>
                <div class="rs-menu-body">
                  <h2 class="cursive">Italian Pasta</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <h4>From $9.99</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu image-right">
                <div class="rs-menu-media">
                  <img src="images/menu/2.jpg" alt="" class="thumb-placeholder">
                </div>
                <div class="rs-menu-body">
                  <h2 class="cursive">Spaghetti</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <h4>From $6.99</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu">
                <div class="rs-menu-media">
                  <img src="images/menu/3.jpg" alt="" class="thumb-placeholder">
                </div>
                <div class="rs-menu-body">
                  <h2 class="cursive">Pizza</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <h4>From $79.99</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu">
                <div class="rs-menu-media">
                  <img src="images/menu/4.jpg" alt="" class="thumb-placeholder">
                </div>
                <div class="rs-menu-body">
                  <h2 class="cursive">Banana Split</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <h4>From $12.99</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu image-right">
                <div class="rs-menu-media">
                  <img src="images/menu/5.jpg" alt="" class="thumb-placeholder">
                </div>
                <div class="rs-menu-body">
                  <h2 class="cursive">Muffin</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <h4>From $4.99</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rs-menu image-right">
                <div class="rs-menu-media">
                  <img src="images/menu/6.jpg" alt="" class="thumb-placeholder">
                </div>
                <div class="rs-menu-body">
                  <h2 class="cursive">Spinach Salad</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                  <h4>From $8.99                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of container-->
    </section>
    
    
    <section id="procedure" style="border-bottom:0px;">
      <div class="container-fluid">
        <!--<div class="row">-->
          <!--<div class="col-md-6 col-sm-4 img-side img-right">-->
          <!--  <div class="img-holder">-->
          <!--    <img src="images/bg/10.jpg" alt="" class="bg-img">-->
          <!--  </div>-->
          <!--</div>-->
          <!-- end of side background image-->
        <!--</div>-->
        <!-- end of row-->
      <!--</div>-->
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-8">
            <div class="title">
              <h4 class="upper">That's How We Roll.</h4>
              <h3>The Procedure<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="text-box">
                  <h4 class="upper small-heading">Sanitization</h4>
                  <p>Sanitizing tools, for instance trays, before and after harvesting so that we can eliminate all the microbes
and other particles affecting the growth and the freshness of microgreens also we make sure that our
team is properly sanitized before entering the potting area.</p>
                </div>
                <!-- end of text box-->
              </div>
              <div class="col-sm-6">
                <div class="text-box">
                  <h4 class="upper small-heading">PREPARING BASE</h4>
                  <p>Preparing base is one of the foremost part of the job we need to make sure that we provide them with
the best and with nutrition rich base so that the yield of the product is good and full of all the necessary
micronutrients.</p>
                </div>
                <!-- end of text box-->
              </div>
              <div class="col-sm-6">
                <div class="text-box">
                  <h4 class="upper small-heading">Skills</h4>
                  <p>Subsequently with our very own seed composition we pot seeds we make sure that we provide them
utmost care and safety taking into account that all the trays are evenly filled that gives us very good
amount of yield which is highly nutrition dense.</p>
                </div>
                <!-- end of text box-->
              </div>
              <div class="col-sm-6">
                <div class="text-box">
                  <h4 class="upper small-heading">POTTING SEEDS</h4>
                  <p>Subsequently with our very own seed composition we pot seeds we make sure that we provide them
utmost care and safety taking into account that all the trays are evenly filled that gives us very good
amount of yield which is highly nutrition dense.</p>
                </div>
                <!-- end of text box-->
              </div>
            </div>
            <!-- end of row              -->
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    
    
    <section id="quality" class="parallax">
      <div data-parallax="scroll" data-image-src="images/bg/7.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay pb-50 pt-50">
        <div class="container">
          <div class="title center">
            <h3>Quality<span class="red-dot"></span></h3>
            <hr>
          </div>
          <div class="section-content">
            <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;controlNav&quot;: true}" class="flexslider nav-outside">
              <ul class="slides">
                <li>
                  <blockquote>
                    <p>"Blanditiis impedit omnis excepturi rem dolores! Ab consequuntur reiciendis eaque atque."</p>
                    <footer>Jon Snow - Google Inc.</footer>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>"Dolorem natus, sint. Enim molestias expedita laboriosam perferendis possimus facere nostrum laudantium vero."</p>
                    <footer>Daenerys Targarien - Apple Inc.</footer>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of container-->
      </div>
    </section>
    
      
    <% include ./partials/footer %>
    
    <!--<script src="../js/cart-page.js"></script>-->

    
<!--  //=========================================================================================================================                                    -->
<!-- //  DESIGNED AND DEVELOPED BY "SUMIT ARYA" : "<ARYASUMIT145@GMAIL.COM>" "WWW.MEGHAPATH.COM" "WWW.SUMITARYA.TK"-->
<!--//===========================================================================================================================-->
